@use "../../../styles/variables";

:host {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 15px 0;
  overflow: hidden;
  padding: 10px;
  display: block;
}

:host img {
  width: 100%;
  border-radius: 8px 8px 0 0;
  height: auto;
}

:host h3 {
  margin: 10px;
  color: variables.$grey-dark-text;
}

:host p {
  margin: 10px;
  color: variables.$grey-light-text;
}
:host a {
  display: block;
  text-align: right;
  margin: 10px;
  color: variables.$primary;
  text-decoration: none;
}
:host a:hover {
  text-decoration: underline;
}
